<div class="container recommendation-option">
        <div id="accordion">
            <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                <button class="btn btn-link d-flex justify-content-between align-items-center" (click)="isCollapsed = 1" [attr.aria-expanded]="(isCollapsed==1)" data-toggle="collapse" data-target="#collapseOne" aria-controls="collapseOne">
                    <span>Want recommendations based on my Goodreads profile ?</span>
                    <span class="fas fa-plus-circle"></span>
                    <span class="fas fa-minus-circle"></span>
                </button>
                </h5>
            </div>
        
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    we will recommend you books taking into account all the books you have rated.
                    <form [formGroup]="checkoutForm" class=row (ngSubmit)="sendUsername()" id="usernameform">
                        <div class="form-group col-12 col-md-6">
                            <label for="username" class=" col-form-label">Goodreads Username</label>                            
                            <input formControlName="uname" type="text" class="form-control" id="username" >
                        </div>                        
                        <div class="col-6 d-flex align-items-end mb-3">
                            <button [disabled]="!checkoutForm.valid" type="submit" class="btn btn-primary username-btn" >Submit</button>
                        </div>                        
                    </form>
                </div>
            </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                    <button class="btn btn-link collapsed d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#collapseTwo" 
                    (click)="isCollapsed = 2" [attr.aria-expanded]="(isCollapsed==2)" aria-controls="collapseTwo">
                        <span>Want recommendations based on a book you like?</span>
                        <span class="fas fa-plus-circle"></span>
                        <span class="fas fa-minus-circle"></span>
                    </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        we will recommend you most similar books based on book you have chosen 
                        
                        <form [formGroup]="searchForm" class="form-inline active-cyan-4" id="searchForm">
                            <div class="dropdown input-group mb-3 position-relative w-100"> 
                                <div class="input-group-prepend ">
                                    <i class="fas fa-search input-group-text" aria-hidden="true"></i>
                                </div>
                                <input class="form-control form-control-sm dropdown-toggle" data-toggle="dropdown" type="text" placeholder="Search"
                                aria-label="Search" id="book-search-query" autocomplete="off" aria-expanded="false" [(ngModel)]="searchText" formControlName="searchName">                                    
                                <div class="dropdown-menu dropdown-menu-right position-absolute" aria-labelledby="book-search-query" id="book-search-results">
                                    <a *ngFor="let book of books | filter:searchText" class="dropdown-item">
                                        {{book.name}}</a>
                                </div>
                            </div>                     
                            
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
   </div>
   <app-book-tile [page]="recommendation" ></app-book-tile>