/*.panel-content{
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}*/

.jumbo-container {
    background: url(img/mty.jpg);
    color: #727272;
    font-size: 59;
    height: 200px;
    text-align: center;
    box-shadow: 0 4px 8px #ccc;
}
.home-genres{
    padding: 45px 15px;
}
.home-genres__tiles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.home-genres__tile{
    color: #4c4c4c;
    border: 1px solid #e8e7e7;
    margin: 10px;
    padding: 15px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
}
.home-genres__tile:hover{
    text-decoration: none;
    color: #4c4c4c;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
    border: 0;
}
.home-genres__title::after{
    content: "";
    background-color: #E7B366;
    width: 100px;
    height: 1px;
    display: flex;
    margin: 20px auto;
}
.book-card{
    border-radius: .5em;
    -webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    background: #fff;
    color: #000;
    margin: 25px;
    height: 220px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.book-card img{
    width: 100%;
    height: 100%;
}
.book-card:hover{
    text-decoration: none;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
    border: 0;
}
.name-font{
    font-style: oblique;
}
.author-font{
    font-size: 13px;
}

.nav-btn{
    background: transparent;
    border-radius: 7.5px;
    padding: 10px;
    color: inherit;
    font-size: 14px;
    border-color: ghostwhite;
    letter-spacing: 1px;
    border: 1px solid #aaa;
}
@media only screen and (max-width: 576px) {
    .nav-btn {
      font-size: 10px;
    }
  }
.nav-btn:hover{
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.08);
}
.navbar{
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.08);
}
.recommendation-option #accordion .card{
    margin-top: 25px;
}
.recommendation-option .card-header{
    background: transparent;
}
.recommendation-option h5{
    width: 100%;
}
.recommendation-option h5 button{
    width: 100%;
}

.recommendation-option button[aria-expanded=true] .fa-plus-circle {
    display: none;
 }
 .recommendation-option button[aria-expanded=false] .fa-minus-circle {
    display: none;
 }
 @media only screen and (max-width: 576px) {
    .recommendation-option button .fa-plus-circle {
        display: none;
     }
     .recommendation-option button .fa-minus-circle {
        display: none;
     }
     .recommendation-option button span {        
        font-size: 9px;
     }
  }
 .btn-link{
    color: #009999;
    letter-spacing: 1px;
    font-weight: 500;
    text-decoration: none;
 }
 .btn-link:hover{
    text-decoration: none;
    color: #009999;
 }
 .btn-link:focus{
    text-decoration: none;
 }
 .username-btn{
    background-color: #009999;
 }
 .username-btn:hover{
    background-color: #009999;
 }
.active-cyan-4 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #009999;
    box-shadow: 0 1px 0 0 #009999;
  }
  .active-cyan-4  .fa-search{
      color: #fff;
      background-color: #009999;;
  }
  .recommendation-option .form-group ,.form-inline{
      margin-top: 10px;
  }
  .recommendation-option .form-group label{
    letter-spacing: .7px;
    font-size: 13px;
  }

  form .dropdown-menu{
    left: 0;
    right: 0;
  }
  form .dropdown-item.active, .dropdown-item:active{
        background-color: #f8f9fa;
  }