<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="assets/img/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">   
  </a>
<div class="d-none d-md-block header-btns">
    <button class="btn nav-btn" (click)="showFeature('isRecommend')">Want Recommendation?</button>
    <button class="btn nav-btn" (click)="showFeature('isHelp')">Need Help?</button>
    <button class="btn nav-btn" (click)="showFeature('isContact')">Contact Us</button>
</div>
<div class="d-block d-md-none header-btns">
  <button class="btn nav-btn" (click)="showFeature('isRecommend')">Recommendation?</button>
  <button class="btn nav-btn" (click)="showFeature('isHelp')">Help?</button>
  <button class="btn nav-btn" (click)="showFeature('isContact')">Contact</button>
</div>

</nav>
<header class="panel-header">
  <div class="jumbo-container d-flex justify-content-center align-items-center flex-column">
      <h4>Find Yourself Something New to Read</h4>
  </div>
</header>

<app-contact  *ngIf="features.isContact"></app-contact>
<app-help *ngIf="features.isHelp"></app-help>
<app-book-tile [page]="home" *ngIf="features.isShowBook"></app-book-tile>
<app-recommendation *ngIf="features.isRecommend"></app-recommendation> 
<footer>
  <div class="home-genres container">
      <div class="home-genres__container">
        <div class="home-genres__title">
            <h4 class="text-center">Popular Genres</h4>
        </div>
        <div class="home-genres__tiles">
            <button class="btn home-genres__tile" >Science Fiction</button>
            <button class="btn home-genres__tile" [disabled]="active_genre=='adv'" (click)="showGenre('adv')">Adventure Stories</button>
            <button class="btn home-genres__tile" [disabled]="active_genre=='ff'" (click)="showGenre('ff')">Fantasy Fiction</button>
            <button class="btn home-genres__tile" href="/">Romance</button>
            <button class="btn home-genres__tile" href="/">Novel</button>
            <button class="btn home-genres__tile" href="/">Mystery</button>
            <button class="btn home-genres__tile" href="/">Poetry</button>
            <button class="btn home-genres__tile" href="/">Biography</button>
            <button class="btn home-genres__tile" href="/">Horror</button>
            <button class="btn home-genres__tile" href="/">Crime Fiction</button>
        </div>
      </div>
  </div>
</footer>