<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Site Name??
  </a>
  <button class="nav-btn" (click)="showRecommend()">Want Recommendation?</button>
</nav>
<header class="panel-header">
  <div class="jumbo-container d-flex justify-content-center align-items-center flex-column">
      <h4>Find Yourself Something New to Read</h4>
  </div>
</header>
<app-book-tile [page]="home" *ngIf="isShowBook"></app-book-tile>
<app-recommendation *ngIf="!isShowBook"></app-recommendation> 
<footer>
  <div class="home-genres container">
      <div class="home-genres__container">
        <div class="home-genres__title">
            <h4 class="text-center">Popular Genres</h4>
        </div>
        <div class="home-genres__tiles">
            <button class="home-genres__tile" >Science Fiction</button>
            <button class="home-genres__tile" [disabled]="active_genre=='adv'" (click)="showGenre('adv')">Adventure Stories</button>
            <button class="home-genres__tile" [disabled]="active_genre=='ff'" (click)="showGenre('ff')">Fantasy Fiction</button>
            <button class="home-genres__tile" href="/">Romance</button>
            <button class="home-genres__tile" href="/">Novel</button>
            <button class="home-genres__tile" href="/">Mystery</button>
            <button class="home-genres__tile" href="/">Poetry</button>
            <button class="home-genres__tile" href="/">Biography</button>
            <button class="home-genres__tile" href="/">Horror</button>
            <button class="home-genres__tile" href="/">Crime Fiction</button>
        </div>
      </div>
  </div>
</footer>