<header class="panel-header">
  <div class="jumbo-container d-flex justify-content-center align-items-center ">
      <h4>Find Yourself Something New to Read</h4>
  </div>
</header>
<app-genre [genre]="genre"></app-genre>
<footer>
  <div class="home-genres container">
      <div class="home-genres__container">
        <div class="home-genres__title">
            <h4 class="text-center">Popular Genres</h4>
        </div>
        <div class="home-genres__tiles">
            <button class="home-genres__tile" >Science Fiction</button>
            <button class="home-genres__tile" href="/">Adventure Stories</button>
            <button class="home-genres__tile" href="/">Fantasy Fiction</button>
            <a class="home-genres__tile" href="/">Romance</a>
            <a class="home-genres__tile" href="/">Novel</a>
            <a class="home-genres__tile" href="/">Mystery</a>
            <a class="home-genres__tile" href="/">Poetry</a>
            <a class="home-genres__tile" href="/">Biography</a>
            <a class="home-genres__tile" href="/">Horror</a>
            <a class="home-genres__tile" href="/">Crime Fiction</a>
        </div>
      </div>
  </div>
</footer>