<div class="panel-content container">
    <div class="row">
        <div class=" col-md-4 col-12">
            <a class="book-card row"> 
                <div class="col-6">                
                    <img src="../../assets/img/DY.jpg" alt="" class="img fiction">
                </div>   
                <div class="col-6 d-flex flex-column justify-content-center text-center">
                    <p>Did you ever have a family</p>
                </div>
            </a>
        </div>
        <div class=" col-md-4 col-12">
            <a class="book-card row">                    
                <div class="col-6">                
                    <img src="../../assets/img/HK.jpg" alt="" class="img fiction">
                </div>  
                <div class="col-6 d-flex flex-column justify-content-center text-center">
                    <p>Did you ever have a family</p>
                </div>
            </a>
        </div>
        <div class=" col-md-4 col-12">
            <a class="book-card row">                    
                <div class="col-6">                
                    <img src="../../assets/img/OY.jpg" alt="" class="img fiction">
                </div>  
                <div class="col-6 d-flex flex-column justify-content-center text-center">
                    <p>Did you ever have a family</p>
                </div>
            </a>
        </div>
        <div class=" col-md-4 col-12">
            <a class="book-card row">                    
                <div class="col-6">                
                    <img src="../../assets/img/DY.jpg" alt="" class="img fiction">
                </div>  
                <div class="col-6 d-flex flex-column justify-content-center text-center">
                    <p>Did you ever have a family</p>
                </div>
            </a>
        </div>
        
        <div class=" col-md-4 col-12">
            <a class="book-card row">                    
                <div class="col-6">                
                    <img src="../../assets/img/DY.jpg" alt="" class="img fiction">
                </div>  
                <div class="col-6 d-flex flex-column justify-content-center text-center">
                    <p>Did you ever have a family</p>
                </div>
            </a>
        </div>
        <div class=" col-md-4 col-12">
            <a class="book-card row">                    
                <div class="col-6">                
                    <img src="../../assets/img/DY.jpg" alt="" class="img fiction">
                </div>  
                <div class="col-6 d-flex flex-column justify-content-center text-center">
                    <p>Did you ever have a family</p>
                </div>
            </a>
        </div>
    </div>
   
</div>
