<html>
    <head>
        <meta charset="utf-8">
        <title>BookRecommender</title>
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">        
        <link rel="stylesheet" href="../static/style.css">
        <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"> </script>
        <script type="text/javascript" src="../static/js/bootstrap.min.js"> </script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    </head>
    <body>
        <div class="panel-header">
            <div class="jumbo-container d-flex justify-content-center align-items-center ">
                <h4>Find Yourself Something New to Read</h4>
            </div>
        </div>
        <div class="panel-content container">
            <div class="row">
                <div class=" col-md-4 col-12">
                    <a class="book-card row"> 
                        <div class="col-6">                
                            <img src="../static/img/DY.jpg" alt="" class="img fiction">
                        </div>   
                        <div class="col-6 d-flex flex-column justify-content-center text-center">
                            <p>Did you ever have a family</p>
                        </div>
                    </a>
                </div>
                <div class=" col-md-4 col-12">
                    <a class="book-card row">                    
                        <div class="col-6">                
                            <img src="../static/img/HK.jpg" alt="" class="img fiction">
                        </div>  
                        <div class="col-6 d-flex flex-column justify-content-center text-center">
                            <p>Did you ever have a family</p>
                        </div>
                    </a>
                </div>
                <div class=" col-md-4 col-12">
                    <a class="book-card row">                    
                        <div class="col-6">                
                            <img src="../static/img/OY.jpg" alt="" class="img fiction">
                        </div>  
                        <div class="col-6 d-flex flex-column justify-content-center text-center">
                            <p>Did you ever have a family</p>
                        </div>
                    </a>
                </div>
                <div class=" col-md-4 col-12">
                    <a class="book-card row">                    
                        <div class="col-6">                
                            <img src="../static/img/DY.jpg" alt="" class="img fiction">
                        </div>  
                        <div class="col-6 d-flex flex-column justify-content-center text-center">
                            <p>Did you ever have a family</p>
                        </div>
                    </a>
                </div>
                
                <div class=" col-md-4 col-12">
                    <a class="book-card row">                    
                        <div class="col-6">                
                            <img src="../static/img/DY.jpg" alt="" class="img fiction">
                        </div>  
                        <div class="col-6 d-flex flex-column justify-content-center text-center">
                            <p>Did you ever have a family</p>
                        </div>
                    </a>
                </div>
                <div class=" col-md-4 col-12">
                    <a class="book-card row">                    
                        <div class="col-6">                
                            <img src="../static/img/DY.jpg" alt="" class="img fiction">
                        </div>  
                        <div class="col-6 d-flex flex-column justify-content-center text-center">
                            <p>Did you ever have a family</p>
                        </div>
                    </a>
                </div>
            </div>
           
        </div>
        <footer>
            <div class="home-genres container">
                <div class="home-genres__container">
                  <div class="home-genres__title">
                      <h4 class="text-center">Popular Genres</h4>
                  </div>
                  <div class="home-genres__tiles">
                      <a class="home-genres__tile" href="/">Science Fiction</a>
                      <a class="home-genres__tile" href="/">Adventure Stories</a>
                      <a class="home-genres__tile" href="/">Fantasy Fiction</a>
                      <a class="home-genres__tile" href="/">Romance</a>
                      <a class="home-genres__tile" href="/">Novel</a>
                      <a class="home-genres__tile" href="/">Mystery</a>
                      <a class="home-genres__tile" href="/">Poetry</a>
                      <a class="home-genres__tile" href="/">Biography</a>
                      <a class="home-genres__tile" href="/">Horror</a>
                      <a class="home-genres__tile" href="/">Crime Fiction</a>
                  </div>
                </div>
            </div>
        </footer>
    </body>
</html>