<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="assets/img/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="logo">   
    </a>
  <div class="d-none d-md-block header-btns">
      <button class="btn nav-btn" (click)="redirectTo('/recommendation')">Find Recommendations</button>
      <button class="btn nav-btn" (click)="redirectTo('/help')">Need Help?</button>
      <button class="btn nav-btn" (click)="redirectTo('/contact')">Contact Us</button>
  </div>
  <div class="d-block d-md-none header-btns">
    <button class="btn nav-btn" (click)="redirectTo('/recommendation')">Recommendations</button>
    <button class="btn nav-btn" (click)="redirectTo('/help')">Help?</button>
    <button class="btn nav-btn" (click)="redirectTo('/contact')">Contact</button>
  </div>
  
  </nav>
  
  <app-help *ngIf="isHelp"></app-help>
  <app-contact *ngIf="isContact"></app-contact>